html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

*:not(input) {
  margin: 0;
  padding: 0;
  opacity: 1;
  z-index: 0;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    display:block;
  }
  to {
    opacity: 0;
    display:none;
  }
}

.fadingin {
  animation: fade-in 0.5s;
}

.fadingout {
  animation: fade-out 0.5s;
}

#toptitle {
  width: 100%;
  padding: 0.6rem;
  text-align: center;
  margin: 0%;
  color: white;
}

#sameline {
  width: 100%;
  display: flex;
  position:fixed;
  animation: fade-in 1s;
  z-index: 1;
}

#divider {
  padding: 1.2rem;
}

#menu-icon {
  right: 0%;
  top: 0.6rem;
  position: absolute;
  text-align: center;
  width: 60px;
  min-width: 60px;
  margin-right: 0.5%;
  margin:0;
  user-select: none;
}

#menu-icon > i {
  color:white;
}

#dropdowncontent {
  margin-right: 5%;
  left:auto;
  right: 0;
  padding: 0.3%;
  display: none;
  position: absolute;
}
#dropdowncontent > * {
  background-color: rgb(232, 251, 242);
  outline-style: solid;
  outline-color: black;
  outline-width: 0.1rem;
  border: 0.8rem ridge transparent;
  animation: fade-in 0.5s;
}
#dropdowncontent > *:hover {
  border-right: 0.8rem ridge black;
  box-shadow: -5px 3px 5px 3px black;
}

#main {
  border-style: ridge;
  border-width: 0.625rem;
  border-color: white;
  padding: 1rem;
  margin: 0%;
}

#main > embed {
  padding-left: calc((100% - 500px)/2);
  padding-right: calc((100% - 500px)/2)
}

a {
  text-decoration: none;
  color:blue;
}

#abouttheauthor {
  font-size: 20px;
}

#abouttheauthor > div {
  width: calc((86% - 2rem)/2.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  margin-top: 0;
  text-align: center;
}

#heroimage {
  display:flex;
  flex-basis: 50%;
  width: 100%;
}

#imgdiv {
  padding: 2rem 0rem 0rem 2rem;
  margin-left: auto;
  display: block;
  width: 80%;
}

#imgdiv > img {
  width: 100%;
  align-self:center;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  float: left;
}

#innerp {
  /* padding-top: 2rem; */
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#main > p, h1{
  text-align: center;
}

#main > p{
  font-size: 1.2em;
  margin-right: 15%;
  margin-left: 15%;
}

#tiktokban {
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
}

input[type=color] {
  position: relative;
  left: -2.5rem;
  opacity: 0;
  width: 1%;
}

input {
  margin: 0.4rem;
}

.defaultgarnet {
  background-color: #782F40;
}
.defaultgold {
  background-color: #CEB888;
}
.defaultgray {
  background-color: #f4f4f4;
}

.circularchoose {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 100px;
  text-align: center;
  user-select: none;
  margin-right: 2%;
}  

#colpicks, #coldefaults {
  padding-left: 10%;
}